html, body {
    margin: 0;
    padding: 0;
    background-color: lightgrey;
    font-family: 'Smythe', sans-serif;
}

/* typography */

h1 {
    font-size: 39px;
    color: white;
    margin: 0 0 0 25px;
}

h3 {
    font-size: 22px;
    color: white;
    margin: 0 0 0 25px;
}

/* layout */
.container {
    width: 600px;
    height: 1160px;
    margin: 40px auto;
    background-color: white;
    border-radius: 20px;
}

header {
    background-image: url('images/pexels-valeriya-1639562.jpg');
    background-size: 155%;
    background-position: center 65%;
    height: 167px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid #D2D2D2;
}

.left-content {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.item-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item-inner h2 {
    margin: 0;
    font-size: 28px;
}

.item-desc {
    font-size: 16px;
    color: #8B8B8B;
    margin: 5px 0 16px 0;
}

.item-price {
    margin: 0;
    font-size: 20px;
}

.add-btn {
    border-radius: 50%;
    border: 1.5px solid #dedede;
    background-color: white;
    width: 50px;
    height: 50px;
    font-size: 32px;
    font-weight: 200;
    padding: 0;
    flex-shrink: 0;

}

/* images */
.emoji {
    font-size: 78px;
    padding: 0;
}