html, body {
    margin: 0;
    padding: 0;
    background-color: lightgrey;
    font-family: 'Smythe', sans-serif;
}

/* typography */

h1 {
    font-size: 39px;
    color: white;
    margin: 0 0 0 25px;
}

h3 {
    font-size: 22px;
    color: white;
    margin: 0 0 0 25px;
}

.item-inner h2 {
    margin: 0;
    font-size: 28px;
}

.item-desc {
    font-size: 16px;
    color: #8B8B8B;
    margin: 5px 0 16px 0;
}

.item-price {
    margin: 0;
    font-size: 20px;
}

.cart-el h2 {
    text-align: center;
}

.complete-container h2 {
    color: #065F46;
}

/* layout */
.container {
    width: 600px;
    height: 1160px;
    margin: 40px auto;
    background-color: white;
    border-radius: 20px;
}

header {
    background-image: url('images/pexels-valeriya-1639562.jpg');
    background-size: 155%;
    background-position: center 65%;
    height: 167px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid #D2D2D2;
}

.left-content {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.item-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.cart-el {
    margin: 40px;
}

.cart-list {
    display: flex;
    flex-direction: column;
}

.cart-item {
    display: flex;
    align-items: center;
}

.total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid #393333;
}

.complete-container {
    width: 504px;
    height: 120px;
    margin: auto;
    background-color: #ECFDF5;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* buttons */

.add-btn {
    border-radius: 50%;
    border: 1.5px solid #dedede;
    background-color: white;
    width: 50px;
    height: 50px;
    font-size: 32px;
    font-weight: 200;
    padding: 0;
    flex-shrink: 0;
    cursor: pointer;

}

.remove-btn {
    color: #BBBBBB;
    border: none;
    background-color: white;
    padding: 10px;
    cursor: pointer;
}

.purchase-btn {
    color: white;
    border: none;
    border-radius: 5px;
    background-color: #127a58;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    padding: 20px;
    cursor: pointer;
}


/* images */
.emoji {
    font-size: 78px;
    padding: 0;
}

/* modal */
.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 524px;
    box-shadow: 16px 32px 64px rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    background-color: white;
}
.modal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h4 {
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

input {
    display: block;
    color: #757575;
    border: 1px solid #757575;
    padding: 15px;
    margin: 15px 0;
    min-width: 420px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 5px;

}

.pay-btn {
    color: white;
    border: none;
    border-radius: 5px;
    background-color: #127a58;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    padding: 20px;
    cursor: pointer;
    margin: 40px 0;
}