html, body {
    margin: 0;
    padding: 0;
    background-color: lightgrey;
    font-family: 'Smythe', sans-serif;
}

/* typography */

h1 {
    font-size: 39px;
    color: white;
    margin: 0;

}

h2 {
    font-size: 22px;
    color: white;
    margin: 0;
}

/* layout */
main, header {
    width: 600px;
    margin: 0 auto;
}

header {
    background-image: url('images/pexels-valeriya-1639562.jpg');
    background-size: 155%;
    background-position: center 65%;
    height: 167px;
    margin-top: 40px;
    /* position: relative; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 25px;
}

